<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="História sobre a criação da plataforma HEMOCAMP
     e sua missão de facilitar doações de sangue em Campinas."/>
    <link rel="icon" type="image/png" href="../static/styles/imagens/icon_pagina.png"/>
    <link rel="stylesheet" href="../static/styles/styles_historia.css" />
    <title>Hemocentro - Historia</title>
  </head>

  <body>
    <header>
      <nav class="menu" aria-label="Menu principal">
        <ul>
          <li><a class="home" href="/">HOME</a> </li>
          <li><a class="hemocentro" href="/hemocentros">HEMOCENTRO</a></li>
          <li><a class="contato" href="/contato">CONTATO</a></li>
          <li><a class="historia" href="/historia">SOBRE </a></li>
          <li><a class="noticias" href="/noticias">NOTICIAS</a></li>
          <li><a class="campanha" href="/campanha">CAMPANHA</a></li>
          <li><a class="perfil" href="/perfil">USUARIO</a></li>
        </ul>
      </nav>
     </header>  
    <main class="container">
      <section class="block1" aria-labelledby="nossa-historia">
        <section class="texto">
          <h1 class="titulo">NOSSA HISTÓRIA:</h1>
          <article aria-labelledby="problema-inicial">
            <h2>O problema inicial:</h2>
            <p>
                Em 2025, percebemos que encontrar um hemocentro para doar sangue em
                Campinas era uma tarefa confusa e trabalhosa. Os sites não eram
                práticos, as informações sobre doação eram difíceis de achar e
                muitos hemocentros não conseguiam alcançar novos doadores.
            </p>
          </article>
          <article aria-labelledby="solucao">
              <h2>Nossa solução:</h2>
              <p>
                  Vendo essa dificuldade, nós, um grupo de universitários, decidimos
                  criar a HEMOCAMP. Nosso objetivo é ser um portal que facilita a
                  comunicação entre os doadores e os hemocentros. Aqui, você pode
                  encontrar rapidamente o local mais próximo para doar, saber das
                  necessidades de estoque, participar de campanhas e receber
                  lembretes.
              </p>
          </article>
          <article aria-labelledby="missao">
            <h2>Nossa missão:</h2>
             <p>
              A HEMOCAMP nasceu para tornar a doação de sangue mais simples e
              acessível para todos em Campinas.
             </p>
          </article>
        </section>
      </section>

      <article class="block2" aria-labelledby="imagem-ilustrativa">
        <figure>
          <img src="../static/styles/imagens/Sem tío.png" alt="Imagem ilustrativa"/>
          <figcaption id="imagem-ilustrativa">
            Representação visual dos fundadores.
          </figcaption>
        </figure>
      </article>
    </main>
    <footer>
        <p>&copy; 2025 - Todos os direitos reservados | HemoCamp</p>
    </footer>
  </body>
</html>
