<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Hemocentros em Campinas - Veja onde doar sangue, horarios, 
    contato e tudo o que você precisa saber para ajudar a salvar vidas"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="../static/styles/imagens/icon_pagina.png"
    />
    <link rel="stylesheet" href="../static/styles/styles_home.css" />
    <title>Hemocentro - Home</title>
  </head>

  <body>

    <header>

      <nav class="menu" aria-label="Menu Principal">
        <ul>
          <li>
            <a href="/login_doador" class="botao_menu"
              ><img
                id="imagem_login"
                src="/static/styles/imagens/retrato.png"
                alt="Imagem do torço em um quadrado"
            /></a>
          </li>

          <li class="menu-item-direita">
            <a href="/cadastro_hemocentro" class="botao_menu">
            <img
            src="../static/styles/imagens/hemocentro_icone.png"
            alt="Ícone de Cadastro Hemocentro"
            id="imagem_hemocentro"/>
            </a>
           </li>

        </ul>
      </nav>
    
    </header>
    
    <section class="imagem">
      <h1>Salve vidas, <strong>doe sangue</strong> hoje!</h1>
    </section>

    <main>
      <section class="opcoes" aria-labelledby="titulo-opcoes">
        <article class="banner_home">
          <a href="/contato">
            <h3>CONTATO</h3>
            <figure>
              <img
                src="../static/styles/imagens/historico-de-chamadas.png"
                alt="uma mão cutucando um telefone"
              />
              <figcaption>
                <b>Entre em <em>contato</em> para nos conhecer.</b>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="banner_home">
          <a href="/noticias">
            <h3>NOTÍCIAS</h3>
            <figure>
              <img
                src="../static/styles/imagens/jornal.png"
                alt="Jornal ao lado de uma xícara de café"
              />
              <figcaption>
                <b
                  >Fique por dentro das melhores <em>notícias</em> em
                  <strong>campanhas</strong>.</b
                >
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="banner_home">
          <a href="/hemocentros">
            <h3>HEMOCENTROS</h3>
            <figure>
              <img
                src="../static/styles/imagens/adicionar.png"
                alt="uma cruz avermelhada dentro de um círculo"
              />
              <figcaption>
                <b
                  >Descubra os <strong>Hemocentros</strong> perto de você e faça
                  sua <strong>doação</strong>.</b
                >
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="banner_home">
          <a href="/historia">
            <h3>HISTÓRIA</h3>
            <figure>
              <img
                src="../static/styles/imagens/rolar-a-historia-do-documento.png"
                alt="Um livro aberto"
              />
              <figcaption>
                <b
                  >Conheça a nossa <em>história</em>
                  <strong>Hemocamp</strong> para todos.</b
                >
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="banner_home">
          <a href="/campanha">
            <h3>CAMPANHA</h3>
            <figure>
              <img
                src="../static/styles/imagens/coracao.png"
                alt="Um livro aberto"
              />
              <figcaption>
                <b
                  >Conheça a nossaa <em>campanhas</em>
                  <strong>Hemocamp</strong></b
                >
              </figcaption>
            </figure>
          </a>
        </article>

      </section>
      
    </main>

    <footer>
      <p>&copy; 2025 - Todos os direitos reservados | HemoCamp</p>
    </footer>
    
  </body>
</html>
