<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      href="../static/styles/imagens/icon_pagina.png"
    />
    <link rel="stylesheet" href="../static/styles/styles_contato.css" />
    <title>Hemocentro - Contato</title>
  </head>
  <body>
    <div class="menu">
      <a class="home" href="index.html">HOME </a>
      <a class="hemocentro" href="Hemocentros.html">HEMOCENTRO </a>
      <a class="contato" href="Contato.html">CONTATO </a>
      <a class="sobre" href="Historia.html">SOBRE </a>
      <a class="noticias" href="Noticias.html">NOTICIAS </a>
    </div>

    <!--bloco de informacoes-->
    <div class="cor_primaria">
      <div class="localizacao">
        <br />
        <img
          src="../static/styles/imagens/marker (1).png"
          width="135"
          height="135"
        />
        <p><b>Localização :</b></p>
        <a>https://maps.app.goo.gl/vatMGbyJrjRY9AyMA</a>
      </div>
      <div class="telefone">
        <br />
        <img
          src="../static/styles/imagens/phone-call.png"
          width="135"
          height="135"
        />
        <p><b>Suporte:</b> (19) 3922-4563</p>
        <p><b> Whatszap</b> (19) 3922-4563</p>
      </div>
      <div class="email">
        <br />
        <img
          src="../static/styles/imagens/envelope.png"
          width="135"
          height="135"
        />
        <p><b>hemocentro@camp.com</b></p>
      </div>
    </div>
    <!-- bloco de inputs e formulario -->
    <div class="cor_secundaria">
      <div class="informativo">
        <h1>ENTRE EM CONTATO CONOSCO</h1>
        <br />
        <p>
          Tem alguma coisa sujestão para site ou algum mal funcionamento?<br />Conte
          para nós!
        </p>
      </div>
      <div class="forms">
        <form>
          <label for="nome">Seu nome:</label>
          <input type="text" id="nome" name="nome_contato" required />
          <br />
          <label for="email">Email:</label>
          <input type="email" id="email" name="email_contato" required />
          <br />
          <label for="mensagem" id="label_msg">Mensagem:</label>
          <input type="text" id="mensagem" name="mensagem_contato" required />
          <a class="btn_ler" id="enviar"> ENVIAR </a>
        </form>
      </div>
      <a class="btn_ler" id="enviar"> ENVIAR </a>
    </div>
  </body>
</html>
