<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <!--ACENTOS-->
    <title>Hemocentro - Home</title>
    <meta
      name="description"
      content="Hemocentros em Campinas - Veja onde doar sangue, horarios, contato e tudo o que você precisa saber para ajudar a salvar vidas"
    />
    <link
      rel="icon"
      type="image/png"
      href="../static/styles/imagens/icon_pagina.png"
    />
    <link rel="stylesheet" href="../static/styles/styles_home.css" />
    <!-- Integração ao CSS -->
  </head>

  <body>
    <!--menu -->
    <div class="menu">
      <a href="login.html"><button class="botao_menu">USER</button></a>
    </div>

    <h1 style="text-align: center; color: black">
      Salve vidas,<strong> doe sangue</strong> hoje!
    </h1>

    <!--opçoes -->
    <div class="opcoes">
      <div class="banner_home">
        <!--opçoes -->
        <a href="Contato.html">
          <h2 id="titulo">CONTATO</h2>
          <img
            src="../static/styles/imagens/historico-de-chamadas.png"
            alt="uma mão cutucando um telefone"
            style="background-size: cover"
          />
          <br />
          <br />
          <p>
            <b>Entre em <em>contato</em> para nos conhecer.</b>
          </p>
        </a>
      </div>

      <div class="banner_home">
        <!--opçoes -->
        <a href="Noticias.html">
          <h2 id="titulo">NOTICIAS</h2>
          <img
            src="../static/styles/imagens/jornal.png"
            alt="Jornal ao lado de uma xícara de café"
          />
          <br />
          <br />
          <p>
            <b
              >Fique por dentro das melhores <em>notícias</em> em
              <strong>campanhas</strong>.</b
            >
          </p>
        </a>
      </div>

      <div class="banner_home">
        <!--opçoes -->
        <a href="Hemocentros.html">
          <h2 id="titulo">HEMOCENTROS</h2>
          <img
            src="../static/styles/imagens/adicionar.png"
            alt="uma cruz avermelhada dentro de um círculo"
          />
          <br />
          <br />
          <p>
            <b>
              Descubra os <strong>Hemocentros</strong> perto de você e faça sua
              <strong>doação</strong>.</b
            >
          </p>
        </a>
      </div>

      <div class="banner_home">
        <!--opçoes -->
        <a href="Historia.html">
          <h2 id="titulo">HISTORIA</h2>
          <img
            src="../static/styles/imagens/rolar-a-historia-do-documento.png"
            alt="Um livro aberto"
          />
          <br />
          <br />
          <p>
            <b>
              Conheça a nossa <em>história</em> <strong>Hemocamp</strong> para
              todos.
            </b>
          </p>
        </a>
      </div>
    </div>

    <footer class="rodape"><p>Começo de um projeto</p></footer>
  </body>
</html>
