body{
  margin: 0;
}
.title {
	color: #5C6AC4;
	
}
.menu{
  
  display:flex;
  justify-content: center; 
  background-color: darkred;
  text-align: center;
  padding: px 10px;
  font-size:20px;
  gap: 0px 

  
}
.menu a{
  text-decoration: none;
  color:white;
  display: inline-block;
  padding: 15px 10px;
  background-color: darkred;
  margin:;
  transition: background 0.3s;
}

.menu a:hover {
  
  background-color: red;
}

.barra_lateral{
   
   background-color: darkred;
   width: 35vw;
   height: 100vh;
   margin: 0;
}

.pesquisa h1{
  color:white;
  text-align:center;
  margin:0;
  padding-top:250px;
  font-size: 55px;
  font-family: verdana, arial;
  
}

.pesquisa p{
  
  font-size: 15px;
  color:white;
  text-align: center;
  padding-left:20px;
  padding-right:20px;
  font-family: verdana, arial;
  
}

.pesquisa input{
  width: 75%;
  height; 20px;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 3px;
}

.campo_noticia{
 
}
.container{
 display:flex;
}
.noticia_principal{
  background-color:blue;
  height: 50vh;
  width:70vw;
  margin:0;
}
.noticias_secundarias{
  
  display:flex;
}

.noticia_1{
  background-color:purple;
  height: 50vh;
  width:35vw;
  margin:0;
}

.noticia_2{
  background-color:yellow;
  height:50vh;
  width:35vw;
  margin:0;
}
  
.btn_ler{
  padding: 10px 20px;
  background-color: darkred;
  border-color:white;
  font-size: 15px;
  font-family: verdana , arial;
  color:white;
  border: 3px;
  display:inline-block;
}

.noticia_1 a{
  margin-left: 40%;
  margin-bottom:20%;
  margin-top: 200px;
}

.noticia_2 a{
  margin-left: 40%;
  margin-bottom:20%;
  margin-top: 200px;
}

.noticia_principal a {
    margin-left: 70%;
  margin-bottom:20%;
  margin-top: 200px;
}

