

* RESET + TOKENS */ * {
  box-sizing: border-box;
}

html {
  font-family: verdana, system-ui, -apple-system, Segoe UI, Helvetica, Arial,
    sans-serif;
}
html,
body {
  background-color: burlywood;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: verdana, arial;
}

h1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.banner_home {
  font-size: 12px;
  color: white; /*cor da fonte */
  text-align: center;
  background-color: var(--cor-principal); /*cor do objeto*/
  border-style: solid;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}

img{
  width: 60%;
  height: 50%;
  margin-top: 30px;

}

.banner_home p {
  font-size: 15px;
}

.banner_home a {
  color: var(--cor-fonte-main-page);
  text-decoration: none;
  border: none;
}

.banner_home:hover {
  transform: scale(1.1);
}

.opcoes {
  justify-content: center; /*pra por as divs no centro da pag*/
  display: grid; /* isso aqui faz a div principal se auto proporcionar uma ao lado da outra*/
  grid-template-columns: 22% 22% 22% 22%;
  gap: 20px;
  border: none;
}


.menu {
  height: 65px;
  width: 100%;
  background-color: var(--cor-principal);
  color: white;
}

.botao_menu {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 0;
  background-color: var(--cor-principal);
  padding:1.47% 30px;
  font-size: 20px;
  font-family: verdana, arial;
}

.botao_menu:hover {
  background-color: red;
  color: white;
}

.rodape p{
   
   font-size: 8px;
   margin-top: 10%;
   margin-bottom:0%;
   text-align: center;

}

:root {
  --cor-principal: darkred;
}
